antlr4-python3-runtime==4.8
appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
buckeye==1.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
clldutils==3.6.0
colorlog==4.7.2
cssselect==1.1.0
csvw==1.10.0
ctcdecode==1.0.2
cycler==0.10.0
Cython==0.29.21
docopt==0.6.2
-e git+https://github.com/pytorch/fairseq@6225dccb989ebfb268274bad36a794b27e4dd43f#egg=fairseq
fake-useragent==0.1.11
hydra-core==1.0.5
idna==2.10
iso639==0.1.4
isodate==0.6.0
kiwisolver==1.3.1
lxml==4.6.2
matplotlib==3.3.4
numpy==1.20.0rc2
omegaconf==2.0.6
parse==1.19.0
Pillow==8.1.0
portalocker==2.1.0
pycparser==2.20
pyee==8.1.0
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
python-dateutil==2.8.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
requests-html==0.10.0
rfc3986==1.4.0
sacrebleu==1.5.0
segments==2.2.0
six==1.15.0
SoundFile==0.10.3.post1
soupsieve==2.1
tabulate==0.8.7
TextGrid==1.5
torch==1.7.1
torchaudio==0.7.2
tqdm==4.56.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.3
w3lib==1.22.0
websockets==8.1
webvtt-py==0.4.6
youtube-dl==2021.1.24.1
